
.container 
  section.catalog 
    h1.catalog__title  кофемолки
    ul.catalog__list 
      li.catalog__el.catalog__el_specialFirst 
        a.catalog__link.plusHover-inner(href="/product", attr='1')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              //-img#1.catalog-img-primary(data-src="/img/catalog-bg.png" alt="")
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="1" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
            img.lazy.catalog-img-secondary(alt="", data-src="/img/catalog-frame-4.png", loading="lazy")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='2')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="2" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#2.catalog-img-primary(data-src="/img/catalog-bg.png" alt="")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-4.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='3')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
              //- +svg('black-plus')
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="3" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#3.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-4.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='4')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="4" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#4.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-4.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='5')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="5" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#5.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-4.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="6" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#6.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-1.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="7" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#7.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-1.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="8" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#7.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-1.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
      li.catalog__el.catalog__el_specialFirst
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container()
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="/img/catalog-bg.png">
                <source media="(max-width:768px)" srcset="/img/catalog-frame-1.png">
                <img id="9" class="catalog-img-primary" data-src="/img/catalog-bg.png" alt="Agave image 1">
              </picture>
              //-img#7.catalog-img-primary(data-src="/img/catalog-bg.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-1.png")
            .catalog__link-info 
              h2.catalog__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price.secondary-title-h3 7 500 ₽
a.email-block.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
  span 
    span info@agave-coffee.online
//- a.email-block.out-container.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
//-   span 
//-     span info@agave-coffee.online
//- (js-lazy) 8 line
      