
.container 
  section.catalog 
    h1.catalog__title.primary-title-h1.pt кофемолки
    ul.catalog__list 
      li.catalog__el.catalog__el_specialFirst 
        a.catalog__link.plusHover-inner(href="/product", attr='1')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#1.catalog-img-primary(data-src="/img/catalog-bg-1.png" alt="")
            img.lazy.catalog-img-secondary(alt="", data-src="/img/catalog-frame-1.png", loading="lazy")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='2')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#2.catalog-img-primary(data-src="/img/catalog-bg-2.png" alt="")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-2.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='3')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
              //- +svg('black-plus')
            .blured-container(js-lazy)
              img#3.catalog-img-primary(data-src="/img/catalog-bg-3.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-3.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='4')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#4.catalog-img-primary(data-src="/img/catalog-bg-4.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-4.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_ordinary
        a.catalog__link.plusHover-inner(href="/product", attr='5')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#5.catalog-img-primary(data-src="/img/catalog-bg-5.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-5.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#6.catalog-img-primary(data-src="/img/catalog-bg-6.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-6.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
      li.catalog__el.catalog__el_specialLast
        a.catalog__link.plusHover-inner(href="/product", attr='6')
          .catalog__link-inner
            button.plusHover-btn 
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1880_50)">
                <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M25 0H0V25H25V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1880_50)">
                <path d="M13 0H12V25H13V0Z" fill="black"/>
                <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1880_50">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>                          
              </svg>
            .blured-container(js-lazy)
              img#7.catalog-img-primary(data-src="/img/catalog-bg-6.png" alt="", loading="lazy")
            img.lazy.catalog-img-secondary( alt="", data-src="/img/catalog-frame-6.png")
            .catalog__link-info 
              h3.catalog__link-title Умный чайник-светильник REDMOND SkyKettle G203S
              .catalog__link-price 7 500 ₽
a.email-block.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
  span 
    span info@agave-coffee.online
//- a.email-block.out-container.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
//-   span 
//-     span info@agave-coffee.online
//- (js-lazy) 8 line
      