
.primary-content 
  display: flex
  height: 100vh
  justify-content: center
  margin-bottom: aCalc(100)
  overflow: hidden
  +r($sm)
    height: auto
    overflow: visible
    display: block

.content__info
  box-sizing: border-box
  background-color: #F9F9F9
  position: relative
  max-width: aCalc(690)
  width: 100%
  max-height: aCalc(700)
  display: grid
  justify-content: center
  padding-bottom: aCalc(46)
  cursor: pointer

.special__item-btn:before
  transition: all .3s
  background-color: #006837
  transform: scale(0)

.content__info:hover
  .plus-btn
    svg
      path
        fill: #ffffff 
  .special__item-btn:before
    transform: scale(1)

.content__info-title
  max-width: aCalc(523)
  text-align: center

.content__info-subtitle
  display: block
  margin-top: aCalc(10)
  text-align: center
  font-weight: 400
  font-size: aCalc(18)
  line-height: aCalc(26)

.content__info-img
  max-width: aCalc(322)
  width: 100%
  width: 100%
  max-height: aCalc(356)
  margin: aCalc(97) auto aCalc(30)


.content__info-img img
  object-fit: cover
  width: 100%

.content__img
  max-width: aCalc(1070)
  width: 100%
  max-height: aCalc(700)

.content__img img
  object-fit: cover
  width: 100%

.plus-btn
  right: aCalc(15)
  top: aCalc(15)
  position: absolute
  display: grid
  justify-content: center
  align-content: center
  border-radius: 50%
  width: aCalc(44)
  height: aCalc(44)
  background-color: transparent
  transition: all .3s

.plus-btn svg
  width: aCalc(25)
  height: aCalc(25)

.order-primary
  order: 1
.order-secondary
  order: 0

//slider
.ordinary-slider
  &__content.swiper-wrapper
    +r($sm)
      display: block
  &__el
    overflow: hidden
    display: grid
    justify-content: center
    align-items: center
    width: auto
    +r($sm)
      overflow: visible
      max-width: 146px
      width: 100%
    video
      max-width: 50vw
      height: auto
      transform: scale(2)
      +r($sm)
        transform: none
        width: auto
        height: 100vh
  &__el.swiper-slide
    display: flex
    +r($sm)
      display: block
    .ordinary-slider__product
      position: relative
      transition: .3s
      &:hover
        .plusHover-btn
          svg
            path
              fill: #ffffff 
        .plusHover-btn:before
          transform: scale(1)
    .ordinary-slider__info
      display: flex
      justify-content: space-between
      max-width: aCalc(331)
      max-height: aCalc(131)
      width: 100%
      height: 100%
      padding: aCalc(24)
      background-color: #ffffff
      border-radius: aCalc(12)
      bottom: aCalc(122)
      left: aCalc(90)
      position: absolute
      z-index: 200
      +r($sm)
        max-width: 204px
        max-height: 71px
        border-radius: 8px
        padding: 10px
        bottom: 8px
      h2 
        max-width: aCalc(212)
        font-size: aCalc(16)
        font-style: normal
        font-weight: 400
        line-height: aCalc(24)
        +r($sm)
          max-width: 100%
          font-size: 11px
          line-height: 15px
        span 
          font-size: aCalc(16)
          font-style: normal
          font-weight: 400
          line-height: aCalc(24)
          display: block
          +r($sm)
            font-size: 11px
            line-height: 15px
            margin-top: 6px
      button
        position: relative

.ordinary-slider.swiper-container
  overflow: hidden
  +r($sm)
    overflow: visible

/////R
.ordinary-slider
  .swiper-container
    width: 100%
    height: 100%
    padding-top: aCalc(32)
  position: static
  &__el:first-child
    img, video
      height: 100vh
      // width: 100vw
      width: 100vw
      object-fit: cover
      +r($sm)
        height: 375px
        max-width: 100vw
  &__el 
    .video__el.video__el-main 
      +r($sm)
        height: 100vh
  &__el
    display: grid
    justify-content: center
    align-items: center
    width: auto
    .slider__el-name
      text-align: center
      margin-top: aCalc(38)
      font-size: aCalc(18)
      font-style: normal
      font-weight: 500
      line-height: aCalc(24)
      +r($sm)
        font-size: 14px
        line-height: 18px
    img
      height: 100vh
      display: block
      max-width: 100vw
      object-fit: cover
      +r($lg + 2)
        width: 50vw
      +r($sm)
        width: 100vw
        height: 375px
    +r($sm)
      border-radius: 4px
      height: auto

  .slider-navigation-next, .slider-navigation-prev
    position: initial
    bottom: 0
  .slider-navigation-next
    transform: translateY(0) rotate(180deg)
    position: initial

  &__el.swiper-slide
    transition: .3s
    cursor: pointer
    // &:hover
    //   transform: translateY(-10%)
    +r($sm)
      max-width: 100vw

  .swiper-pagination
    width: auto
    height: auto
    left: 0
    right: 0
    margin: 0 auto
    transform: translateY(50%)
    bottom: aCalc(-41)
    +r($sm)
      bottom: -37px

  .swiper-pagination-bullet
    width: aCalc(6)
    height: aCalc(6)
    background-color: #000000
    opacity: 0.5
    +r($sm)
      width: 6px
      height: 6px
  .swiper-pagination-bullet.swiper-pagination-bullet-active
    opacity: 1
    position: relative
    top: aCalc(1)
    width: aCalc(8)
    height: aCalc(8)
    +r($sm)
      width: 8px
      height: 8px
    +r($sm)
      top: aCalc(2)
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 aCalc(12)
    +r($sm)
      margin: 0 7px
  .slider-navigation-next, .slider-navigation-prev
    background-color: transparent
    position: absolute
    bottom: aCalc(-45)
    transform: translateY(50%)
    z-index: 99
    +r($sm)
      bottom: -28px
      transform: translateY(50%)
    svg
      width: aCalc(24)
      height: aCalc(24)
      +r($sm)
        width: 24px
        height: 24px
  .slider-navigation-prev
    left: 39%
    +r($sm)
      bottom: -37px
      left: 0
      svg
        width: 24px !important
        height: 24px !important
    +r($ms)
      left: 0
  .slider-navigation-next.slide-button
    transform: rotate(0deg)
    background-color: #F3F3F3
    border-radius: aCalc(12)
    width: aCalc(44)
    height: aCalc(44)
  .slider-navigation-prev.slide-button
    transform: rotate(180deg)
    margin-right: aCalc(8)
    width: aCalc(44)
    height: aCalc(44)
    background-color: #F3F3F3
    border-radius: aCalc(12)
  .slider-navigation-next
    transform: translateY(50%) rotate(90deg)
    right: 39%
    +r($sm)
      bottom: -37px
      right: 0
      transform: translateY(50%) rotate(180deg)
      svg
        width: 24px !important
        height: 24px !important
    +r($ms)
      right: 0
  +r($sm)
    margin-bottom: 0

.swiper-container
  min-height: aCalc(260)
  height: 100%
  overflow-x: hidden
  // +r($sm)
  //   overflow: visi

.ordinary-slider .slider-navigation-next, .ordinary-slider .slider-navigation-prev
  transform: translateY(0)
  position: initial

.control-wrapper
  position: absolute
  left: 0
  bottom: 0
  margin-top: aCalc(21)
  .swiper-pagination
    +r($ms + 6)
      transform: translateY(0)
  +r($sm)
    display: none
    margin-top: 26px

.control-wrapper__inner
  display: flex
  align-content: center
  justify-content: center
  +r($sm)
    justify-content: space-between

//small-slider
.small-slider.swiper-container
  padding: 0
  +r($sm)
    position: relative
    overflow: hidden
    max-width: 100%
    transform: translateY(-98px)
    height: 413px  

.small-slider
  .swiper-pagination
    max-width: aCalc(960)
    width: 50vw
    position: absolute
    top: auto
    bottom: aCalc(80)
    right: auto
    left: 0
    +r($sm)
      bottom: 20px
      height: 2px
      max-width: 100vw
      width: 100vw
  &__content.ordinary-slider__content.swiper-wrapper
    +r($sm)
      display: flex
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill
    background-color: #FD6
  &__el:first-child
    img 
      max-width: 50vw
      +r($sm)
        margin: 0 auto
        border-radius: 12px
        max-width: 343px
  &__el.ordinary-slider__el 
    overflow: hidden
    img 
      object-fit: cover
      +r($sm)
      //translateY(-98px)
        position: relative
        max-width: 343px
        left: 50%
        border-radius: 12px
        transform: translateX(-50%) 
        object-fit: cover
    +r($sm)
      overflow: visible
  &__el
    img 
      max-width: 50vw
      +r($sm)
        margin: 0 auto
        border-radius: 12px
        max-width: 343px
  .swiper-pagination-bullet
    max-width: aCalc(100)
    width: 100%
    background-color: #AFA9BA
    min-height: aCalc(2)
    height: 100%
    +r($sm)
      max-width: 46px
    +r($ms + 8)
      max-width: 40px
  .swiper-pagination-bullet.swiper-pagination-bullet-active
    max-width: aCalc(360)
    width: 100%
    min-height: aCalc(2)
    height: 100%
    background-color: #006837
    +r($sm)
      max-width: 135px
    +r($ms + 8)
      max-width: 100px
		
