
.special__list
  margin-bottom: aCalc(138)

.special__title
  margin-bottom: aCalc(30)
  +r($sm)
    margin-bottom: 16px

.special__list
  display: flex
  +r($sm)
    margin-bottom: 80px
    max-width: 100%
    overflow: initial
  
.special-wrapper
  overflow: hidden

.special__item
  padding-top: aCalc(40)
  position: relative
  max-width: aCalc(433)
  min-height: aCalc(650)
  width: 100%
  box-sizing: border-box
  background-color: #F9F9F9
  z-index: 1
  flex-shrink: 0
  +r($sm)
    min-width: 228px
    min-height: 291px
    //flex-shrink: 0
    overflow: hidden
  .special__link 
    height: 100%
    display: flex
    flex-flow: column
    justify-content: space-between
    +r($sm)
      padding: 10px
      height: 100%

.special__link-title
  margin-bottom: aCalc(10)
  +r($sm)
    margin-bottom: 6px

.special__link-info
  padding: 0 aCalc(20) aCalc(20) aCalc(20)

.special__link-img
  margin-bottom: aCalc(33)

.special__link-img
  margin: 0 auto
  max-width: aCalc(433)
  width: 100%
  max-height: aCalc(433)
  +r($sm)
    max-width: 100%
    max-height: 100%

.special__link-img img
  object-fit: cover
  max-width: aCalc(433)
  width: 100%
  +r($sm)
    height: 220px
    max-width: 220px
    //width: 100%
    object-fit: cover

.special__item + .special__item
  margin-left: aCalc(24)
  +r($sm)
    margin-left: 7px

        