.what-included-block
  h3 Участок, Ландшафт, Сети
  ul
    li
      span Земельный участок:
      span 2 700 000 ₽
    li
      span Подготовка участка (спил деревьев, выравнивание, регистрация), подключение наружных коммуникаций, септик под ключ, закладные электрики и инженерии под ключ, плитная дорога для строительства, инженерно-геологические изыскания, КЖ, КР, Ландшафтный, Дизайн проекты
      span 1 850 000 ₽
    li
      span Дренажная система и ливневая канализация
      span 1 850 000 ₽
    li
      span Газон, отсыпка клумб корой, свет и розетки по участку
      span 750 000 ₽
    li
      span Озеленение (растения)
      span 2 228 000 ₽
    li
      span Автополив
      span 681 000 ₽
    li
      span Отмостка, дорожки, парковка (гранитный щебень) и плиты ландшафта
      span 780 000 ₽
  h3 Участок, Ландшафт, Сети
  ul
    li
      span Земельный участок:
      span 2 700 000 ₽
    li
      span Подготовка участка (спил деревьев, выравнивание, регистрация), подключение наружных коммуникаций, септик под ключ, закладные электрики и инженерии под ключ, плитная дорога для строительства, инженерно-геологические изыскания, КЖ, КР, Ландшафтный, Дизайн проекты
      span 1 850 000 ₽
    li
      span Дренажная система и ливневая канализация
      span 1 850 000 ₽
    li
      span Газон, отсыпка клумб корой, свет и розетки по участку
      span 750 000 ₽
    li
      span Озеленение (растения)
      span 2 228 000 ₽
    li
      span Автополив
      span 681 000 ₽
    li
      span Отмостка, дорожки, парковка (гранитный щебень) и плиты ландшафта
      span 780 000 ₽
