
//- .container
section
  .primary-content
    .ordinary-slider.swiper-container
          .ordinary-slider__content.swiper-wrapper
            .ordinary-slider__el.swiper-slide 
              <video class="video__el video__el-main" autoplay="autoplay" muted playsinline webkit-playsinline preload="auto" poster="img/main-slider-1.jpg">
                <source src="img/video/NewYork.mp4" type="video/mp4">
                <source src="img/video/NewYork.webm" type="video/webm">
              </video>
              //-img(src="img/main-slider-1.jpg", alt="")
              //- .slider__el-name Свадебные
            - var slide = 0
            while slide < 7
              .ordinary-slider__el.swiper-slide 
                .small-slider.swiper-container
                  .small-slider__content.ordinary-slider__content.swiper-wrapper
                    .small-slider__el.ordinary-slider__el.swiper-slide
                      .ordinary-slider__product
                        .ordinary-slider__info
                          h2 
                            |Умный чайник-светильник
                            |REDMOND SkyKettle G203S
                            span 7 500 ₽
                          button.plusHover-btn 
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1880_50)">
                              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                              <path d="M25 0H0V25H25V0Z" fill="white"/>
                              </mask>
                              <g mask="url(#mask0_1880_50)">
                              <path d="M13 0H12V25H13V0Z" fill="black"/>
                              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                              </g>
                              </g>
                              <defs>
                              <clipPath id="clip0_1880_50">
                              <rect width="25" height="25" fill="white"/>
                              </clipPath>
                              </defs>                          
                            </svg>
                        img(src="img/main-slider-3.jpg", alt="")
                    .small-slider__el.ordinary-slider__el.swiper-slide
                      .ordinary-slider__product
                        //-<div class="swiper-pagination"></div>
                        .ordinary-slider__info
                          h2 
                            |Умный чайник-светильник
                            |REDMOND SkyKettle G203S
                            span 7 500 ₽
                          button.plusHover-btn 
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1880_50)">
                              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                              <path d="M25 0H0V25H25V0Z" fill="white"/>
                              </mask>
                              <g mask="url(#mask0_1880_50)">
                              <path d="M13 0H12V25H13V0Z" fill="black"/>
                              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                              </g>
                              </g>
                              <defs>
                              <clipPath id="clip0_1880_50">
                              <rect width="25" height="25" fill="white"/>
                              </clipPath>
                              </defs>                          
                            </svg>
                        img(src="img/main-slider-3.jpg", alt="")
                    .small-slider__el.ordinary-slider__el.swiper-slide
                      .ordinary-slider__product
                        //-<div class="swiper-pagination"></div>
                        .ordinary-slider__info
                          h2 
                            |Умный чайник-светильник
                            |REDMOND SkyKettle G203S
                            span 7 500 ₽
                          button.plusHover-btn 
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1880_50)">
                              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                              <path d="M25 0H0V25H25V0Z" fill="white"/>
                              </mask>
                              <g mask="url(#mask0_1880_50)">
                              <path d="M13 0H12V25H13V0Z" fill="black"/>
                              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                              </g>
                              </g>
                              <defs>
                              <clipPath id="clip0_1880_50">
                              <rect width="25" height="25" fill="white"/>
                              </clipPath>
                              </defs>                          
                            </svg>
                        img(src="img/main-slider-3.jpg", alt="")
                    .small-slider__el.ordinary-slider__el.swiper-slide
                      .ordinary-slider__product
                        //<div class="swiper-pagination"></div>
                        .ordinary-slider__info
                          h2 
                            |Умный чайник-светильник
                            |REDMOND SkyKettle G203S
                            span 7 500 ₽
                          button.plusHover-btn 
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1880_50)">
                              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                              <path d="M25 0H0V25H25V0Z" fill="white"/>
                              </mask>
                              <g mask="url(#mask0_1880_50)">
                              <path d="M13 0H12V25H13V0Z" fill="black"/>
                              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                              </g>
                              </g>
                              <defs>
                              <clipPath id="clip0_1880_50">
                              <rect width="25" height="25" fill="white"/>
                              </clipPath>
                              </defs>                          
                            </svg>
                        img(src="img/main-slider-3.jpg", alt="")
                    .small-slider__el.ordinary-slider__el.swiper-slide
                      .ordinary-slider__product
                        //-<div class="swiper-pagination"></div>
                        .ordinary-slider__info
                          h2 
                            |Умный чайник-светильник
                            |REDMOND SkyKettle G203S
                            span 7 500 ₽
                          button.plusHover-btn 
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_1880_50)">
                              <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                              <path d="M25 0H0V25H25V0Z" fill="white"/>
                              </mask>
                              <g mask="url(#mask0_1880_50)">
                              <path d="M13 0H12V25H13V0Z" fill="black"/>
                              <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
                              </g>
                              </g>
                              <defs>
                              <clipPath id="clip0_1880_50">
                              <rect width="25" height="25" fill="white"/>
                              </clipPath>
                              </defs>                          
                            </svg>
                        img(src="img/main-slider-3.jpg", alt="")
                  <div class="swiper-pagination"></div>
                //- <video class="video__el" autoplay="autoplay" muted playsinline webkit-playsinline preload="auto" poster="img/main-slider-1.jpg">
                //-   <source src="img/video/NewYork.mp4" type="video/mp4">
                //-   <source src="img/video/NewYork.webm" type="video/webm">
                //- </video>
                img.order-primary(src="img/main-slider-2.jpg", alt="")
              - slide++ 
//- section.sliders
.container
  section.special 
    h2.special__title.primary-title-h2 Специально для вас
    ul.special__list 
      li.special__item.plusHover-inner 
        button.plusHover-btn 
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1880_50)">
            <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path d="M25 0H0V25H25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1880_50)">
            <path d="M13 0H12V25H13V0Z" fill="black"/>
            <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_1880_50">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        a.special__link(href="#") 
          .special__link-img 
            img(src="img/special-img-1.png" alt="Agave REDMOND SkyKettle G203S")
          .special__link-info 
            h3.special__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
            .special__link-price.secondary-title-h3 7 500 ₽
      li.special__item.plusHover-inner
        button.plusHover-btn
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1880_50)">
            <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path d="M25 0H0V25H25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1880_50)">
            <path d="M13 0H12V25H13V0Z" fill="black"/>
            <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_1880_50">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        a.special__link(href="#") 
          .special__link-img 
            img(src="img/special-img-2.png" alt="Agave REDMOND SkyKettle G203S")
          .special__link-info 
            h3.special__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
            .special__link-price.secondary-title-h3 7 500 ₽
      li.special__item.plusHover-inner
        button.plusHover-btn
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1880_50)">
            <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path d="M25 0H0V25H25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1880_50)">
            <path d="M13 0H12V25H13V0Z" fill="black"/>
            <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_1880_50">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        a.special__link(href="#") 
          .special__link-img 
            img(src="img/special-img-3.png" alt="Agave REDMOND SkyKettle G203S")
          .special__link-info 
            h3.special__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
            .special__link-price.secondary-title-h3 7 500 ₽
      li.special__item.plusHover-inner
        button.plusHover-btn 
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1880_50)">
            <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path d="M25 0H0V25H25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1880_50)">
            <path d="M13 0H12V25H13V0Z" fill="black"/>
            <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_1880_50">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        a.special__link(href="#") 
          .special__link-img 
            img(src="img/special-img-4.png" alt="Agave REDMOND SkyKettle G203S")
          .special__link-info 
            h3.special__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
            .special__link-price.secondary-title-h3 7 500 ₽
      li.special__item.plusHover-inner
        button.plusHover-btn
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1880_50)">
            <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path d="M25 0H0V25H25V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_1880_50)">
            <path d="M13 0H12V25H13V0Z" fill="black"/>
            <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_1880_50">
            <rect width="25" height="25" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        a.special__link(href="#") 
          .special__link-img 
            img(src="img/special-img-5.png" alt="Agave REDMOND SkyKettle G203S")
          .special__link-info 
            h3.special__link-title.secondary-title-h3 Умный чайник-светильник REDMOND SkyKettle G203S
            .special__link-price.secondary-title-h3 7 500 ₽
  section.accessories
    //- h1.accessories__title.primary-title-h1 аксессуары
    .accessories__content 
      a.email-block.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
        span 
          span info@agave-coffee.online
      

//- section
//-   .primary-content 
//-     //- .content__img
//-     //-   img(src="img/primary-content.jpg" alt="coffe machine")
//-     //- a.content__info.plusHover-inner(href="#")
//-     //-   button.plusHover-btn 
//-     //-     <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
//-     //-       <g clip-path="url(#clip0_1880_50)">
//-     //-       <mask id="mask0_1880_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
//-     //-       <path d="M25 0H0V25H25V0Z" fill="white"/>
//-     //-       </mask>
//-     //-       <g mask="url(#mask0_1880_50)">
//-     //-       <path d="M13 0H12V25H13V0Z" fill="black"/>
//-     //-       <path d="M25 13V12L0 12V13L25 13Z" fill="black"/>
//-     //-       </g>
//-     //-       </g>
//-     //-       <defs>
//-     //-       <clipPath id="clip0_1880_50">
//-     //-       <rect width="25" height="25" fill="white"/>
//-     //-       </clipPath>
//-     //-       </defs>
//-     //-     </svg>
//-     //-   .content__info-img()
//-     //-     img(src="img/primary-product.png" alt="" )
//-     //-   h2.content__info-title.primary-title-h2 Электронные кухонные весы Agave Coffee AG-423
//-     //-     span.content__info-subtitle Умный помощник, который сам заварит кофе