
section.product
  .product__popup
    button.product__popup-close
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.63599 18.364L18.3639 5.63603M5.63599 5.63604L18.3639 18.364" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    button.product__popup-arrow.product__popup-prew 
      <svg width="58" height="37" viewBox="0 0 58 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M58 18.5L2 18.5M2 18.5L19.5 1M2 18.5L19.5 36" stroke="black" stroke-width="1.5"/>
      </svg>
    button.product__popup-arrow.product__popup-next
      <svg width="58" height="37" viewBox="0 0 58 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M58 18.5L2 18.5M2 18.5L19.5 1M2 18.5L19.5 36" stroke="black" stroke-width="1.5"/>
      </svg>
    //- .galleri
    //-   .galleri__el 
    //-     img(src="" alt="galleri img")
    //-   .galleri__el 
    //-     img(src="" alt="galleri img")
    //-   .galleri__el 
    //-     img(src="" alt="galleri img")
    //-   .galleri__el 
    //-   img(src="" alt="galleri img")
    //-   .galleri__el 
    //-     img(src="" alt="galleri img")
    //-   .galleri__el 
    //-     img(src="" alt="galleri img")
    //- img.product__popup-img(src="" alt="popup img") data-fs-full="img/product-0.png"
  .product__inner
    .product__slider.slider-desktop
      ul.product__content(data-fs-ctr)
        li.product__el.swiper-slide(data-fs-full="img/product-0.png")
          <picture>
            <source media="(min-width:768px)" srcset="img/product-0.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-0.png" alt="Agave image 1">
          </picture>
          <video loop muted playsinline webkit-playsinline autoplay preload="auto" controls poster="img/product-0.png">
              <source src="img/video.webm" type="video/webm">
              <source src="img/video.mp4" type="video/mp4">
          </video>
        li.product__el.swiper-slide(data-fs-full="img/product-1.png")
          <picture>
            <source media="(min-width:768px)" srcset="img/product-1.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-1.png" alt="Agave image 1">
          </picture>
        li.product__el.swiper-slide(data-fs-full="img/product-2.png")
          <picture>
            <source media="(min-width:768px)" srcset="img/product-2.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-2.png" alt="Agave image 1">
          </picture>
          <video loop muted playsinline webkit-playsinline autoplay preload="auto" controls poster="img/product-0.png">
            <source src="img/video.webm" type="video/webm">
            <source src="img/video.mp4" type="video/mp4">
          </video>
        li.product__el.swiper-slide(data-fs-full="img/product-3.png") 
          <picture>
            <source media="(min-width:768px)" srcset="img/product-3.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-3.png" alt="Agave image 1">
          </picture>
        li.product__el.swiper-slide(data-fs-full="img/product-4.png")
          <picture>
            <source media="(min-width:768px)" srcset="img/product-4.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-4.png" alt="Agave image 1">
          </picture>
        li.product__el.swiper-slide(data-fs-full="img/product-5.png")
          <picture>
            <source media="(min-width:768px)" srcset="img/product-5.png">
            <source media="(max-width:768px)" srcset="img/product-1-small.png">
            <img data-src="img/product-5.png" alt="Agave image 1">
          </picture>
      .swiper-pagination
    .product__block.product__block_active
      .product__price   
        h2.product__price-title.primary-title-h2 Кофемолка Agave Coffee
          span.product__price-subtitle.primary-title-h3 Умный помощник, который сам заварит кофе
        .product__price-block
          a.product__price-numb
            |7 500 &#8381;
          a.slide-button_icon.slide-button.first-shop(href="/catalog")
            span 
              span ozon
          a.slide-button_icon.slide-button.second-shop(href="/catalog")
            span 
              span Market
      .product__description
        h2.product__description-title.secondary-title-h2 Описание
        p.product__description-text.primary-text-p Для истинных ценителей чайных церемоний в узком кругу: минималистичный электрический чайник, включающийся легким нажатием на ручку. Модель получила 4 международные дизайнерские награды.
        button.product__description-more(data-descr-id=0) Читать описание
      ul.product__info 
        li.product__info-el Настройка времени приготовления
          img.product__info-icon(src="" alt="")
        li.product__info-el 3 режима работы
          img.product__info-icon(src="img/product-info-icon.png" alt="")
        li.product__info-el 6 степеней приготовления
          img.product__info-icon(src="img/product-info-icon.png" alt="")
      .product__properties
        h2.product__properties-title.secondary-title-h2 Характеристики
        ul.product__properties-list 
          li.product__properties-el 
            .product__properties-property Мощность
            .product__properties-value 1300–1600 Вт
          li.product__properties-el 
            .product__properties-property Давление
            .product__properties-value 15 бар
          li.product__properties-el 
            .product__properties-property Тип кофеварки
            .product__properties-value Рожковая
          li.product__properties-el 
            .product__properties-property Вес
            .product__properties-value 4,7 кг
          li.product__properties-el 
            .product__properties-property Срок гарантии
            .product__properties-value 1 год
        button.product__description-more(data-descr-id=1) Все характеристики
         
a.email-block.header__sale-button.slide-button_icon.slide-button.header__menu-item_mobile(href='#' mailto="info@agave-coffee.online")
  span 
    span info@agave-coffee.online



//- <video loop muted playsinline webkit-playsinline autoplay preload="auto" controls   ="img/product-0.png">
//-     <source src="video/video.webm" type="video/webm">
//-     <source src="video/video.mp4" type="video/mp4">
//- </video>
//- .fancy-container
//-   .mb-14.grid.gap-2(id="productContainer")
//-     .f-carousel(id="productCarousel")
//-       .f-carousel__slide(data-thumb-src="https://fancyapps.com/img/dress_1_s.jpg" data-fancybox="gallery" data-src="https://fancyapps.com/img/dress_1_b.jpg")
//-         img(alt="" data-lazy-src="https://fancyapps.com/img/dress_1_m.jpg")
//-       .f-carousel__slide(data-thumb-src="https://fancyapps.com/img/dress_1_s.jpg" data-fancybox="gallery" data-src="https://fancyapps.com/img/dress_1_b.jpg")
//-         img(alt="" data-lazy-src="https://fancyapps.com/img/dress_2_m.jpg")
//-       .f-carousel__slide(data-thumb-src="https://fancyapps.com/img/dress_1_s.jpg" data-fancybox="gallery" data-src="https://fancyapps.com/img/dress_1_b.jpg")
//-         img(alt="" data-lazy-src="https://fancyapps.com/img/dress_3_m.jpg")
//-.product__price-el 