//- doctype html
//- html(lang="en")
//-   head()
//-     include ./shared/_head

//-   body    
//-     include ./../components/header/_header

//-     .page
//-       include ../components/catalog/_catalog

//-     include ./../components/footer/_footer

extends ./shared/_layout
block content
  include ../components/catalog/_catalog