

// .catalog
//   +r($sm)
//     padding-top: 118px

.catalog__title
  text-align: center
  text-transform: uppercase
  font-size: aCalc(32)
  font-style: normal
  font-weight: 400
  line-height: aCalc(40)
  margin-bottom: aCalc(40)
  +r($sm)
    font-size: 24px
    line-height: 32px
    margin-bottom: 16px

.catalog__list
  width: 100%
  display: grid
  justify-content: center
  grid-template-columns: repeat(4,1fr)
  gap: aCalc(10) aCalc(10)
  margin-bottom: aCalc(120)
  +r($sm)
    grid-gap: 7px
    //grid-template-columns: 174px 174px
    grid-template-columns: 195px 195px
    margin-bottom: 40px
  +r($ms + 7)
    grid-template-columns: 174px 174px

.catalog__el
  cursor: pointer
  border-radius: aCalc(12)
  background-color: #F9F9F9
  min-height: aCalc(650)
  +r($sm)
    border-radius: 12px

.catalog-img-secondary
  display: none

.catalog__el:hover .catalog-img-primary
  display: none

.catalog__el:hover .catalog-img-secondary
  display: block

.catalog__el.catalog__el_specialFirst .catalog__link-inner
  margin: 0 auto
  max-width: aCalc(650)
  width: 100%
  overflow: hidden
  .catalog__link-info 
    +r($sm)
      max-width: max-content
  +r($sm)
    max-width: max-content

.catalog__el.catalog__el_specialLast .catalog__link-inner
  margin: 0 auto
  max-width: aCalc(650)
  width: 100%
  overflow: hidden
  +r($sm)
    max-width: max-content

.catalog__el.catalog__el_ordinary .catalog__link-inner
  display: grid
  justify-content: center
  align-content: center
  max-height: aCalc(422)
  margin: 0 auto
  overflow: hidden
  +r($sm)
    max-height: 100%

.catalog__el.catalog__el_ordinary .catalog__link
  display: grid
  justify-content: center
  align-content: center

.catalog__el, .catalog__link
  display: block
  max-height: aCalc(650)
  height: 100%
  +r($sm)
    min-height: 247px
    max-height: 414px

.catalog__el.catalog__el_specialLast .catalog__link
  +r($sm)
    // min-height: 247px
    min-height: 414px

// .catalog__el.catalog__el_specialLast .catalog__link
//   +r($sm)
//     min-height: 414px

.catalog__el img
  +r($sm)
    max-width: 176px
    width: 100%
    height: 176px
    object-fit: cover

.catalog__link-inner
  pointer-events: none

.catalog__link
  position: relative
  max-width: aCalc(866)
  width: 100% !important
  max-width: 100% !important
  +r($sm)
    max-width: 176px
    width: 100%
    display: grid
    justify-content: center
    align-items: center

.catalog__el.catalog__el_ordinary img
  width: aCalc(422)
  height: aCalc(422)
  +r($sm)
    //transform: translateY(-15px)
    //max-width: 176px
    width: 100%
    //height: 176px
    max-width: 130px
    height: 130px
    object-fit: cover
    object-fit: contain

.catalog__el.catalog__el_specialFirst img
  height: aCalc(650)
  +r($sm)
    //transform: translateY(-15px)
    // height: 176px
    // max-width: 176px
    height: 359px
    max-width: 359px
    width: 100%
    //object-fit: contain
    object-fit: cover

.catalog__el.catalog__el_specialLast img
  height: aCalc(650)
  +r($sm)
    // height: 176px
    // max-width: 176px
    // height: 359px
    height: 320px
    max-width: 359px
    width: 100%
    object-fit: cover
    //object-fit: contain catalog__link-info

.catalog__el.catalog__el_specialLast 
  .catalog__link-info
    +r($sm)
      max-width: max-content

.catalog__link img
  pointer-events: none
  object-fit: contain
  width: 100%

.catalog__link-info
  max-width: aCalc(212)
  width: 100%
  position: absolute
  bottom: aCalc(20)
  left: aCalc(20)
  pointer-events: none
  +r($sm)
    max-width: 156px
    width: 100%
    bottom: 10px
    left: 10px
.catalog__link-title
  margin-bottom: aCalc(10)
  pointer-events: none

.catalog__link-price
  pointer-events: none

.email-block.catalog-email
  margin-bottom: aCalc(120)

.catalog__el.catalog__el_specialFirst
  grid-column: span 2
  +r($sm)
    //min-height: 359px
    min-height: 414px
    grid-column: span 2
  .catalog__link
    +r($sm)
      min-height: 414px !important
.catalog__el.catalog__el_specialLast
  grid-column-start: 3
  grid-column-end: 5
  +r($sm)
    grid-column-start: initial
    grid-column-end: initial
    grid-column: span 2
