$ms: 369;
$sm-x: 576;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;


$baseTextColor: #161616;
$baseFont: 'Inter', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$Black : #161616;
$ColdStone : #CED0DC;
$DarkGreed : #193536;
$Green : #224646;
$LightGreen : #2E5E5E;
$Beige : #D5B38E;
$White : #FFFFFF;

$DarkGray: #7B7B7B;
$WhiteGray : #F1F1F1;
$Gray : #F2F2F2;
$GrayBruh: #E5E5E5;