meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1, maximum-scale=1')
link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='theme-color' content='#ffffff')
style. 
  body {
    color: #000
  }
  a {
    color: #000
  }
title Agave
//- link(rel='stylesheet' href='css/vendor.css')
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zoomove/1.2.1/zoomove.min.css">
link(rel='stylesheet' href='css/main.css')
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
script(src="https://www.google.com/recaptcha/api.js?onload=startFunc&render=explicit" async defer)
//-<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zoomove/1.2.1/zoomove.min.js"></script>
//- <script src="../../../src/js/functions/zoomove.js"></script>